* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    background-color: #762124;
}

.logo img {
    height: 100px;
    width: auto;
}

.nav {
    width: 700px;
}
.nav > ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    height: 120px;
}

.nav a {
    color: white;
    text-decoration: none;
    font-weight: 300;
}

.nav a:hover {
    text-decoration: underline;
}