div[class^="grid"] {
    border: 1px solid red;
}

div[class^="container"] {
    margin-top: 20px;
}

.container-grid-1 {
    display: grid;
    /* grid-template-columns: 1fr 2fr 1fr; */
    grid-template-columns: 20% 60% 20%;
    /* grid-auto-rows: auto; redundant in this case */
}

.container-grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    grid-template-rows: 60px 120px;
}

.container-grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 2fr;
    grid-template-rows: 100px;
    grid-auto-rows: 50px;
}