body {
    background-color: lightgray;
}
p, li {
    color: red;
}

/* li {
    color: red;
} */

 .aueb-logo {
    border: 3px solid green;
    width:400px;
 }

 img.aueb-logo {
    height: auto;
 }

 p.aueb-logo {
    color: blue
 }

 ul > li {
    color: blue;
 }  /* απόγονοι του ul, χωρίς το > θα εφαρμοζόταν σε όλα τα li, ακόμα και αυτά κάτω από το ol */
h1 + p {
    background-color: blue;
} /* η πρώτη παράγραφος που βρίσκεται μετά το κάθε heading 1 */

.link-cf:link {
    text-decoration: none;
    color:black
}

.link-cf:visited {
    color:green
}

.link-cf:hover {
    background-color: fuchsia ;
} /* in this order, link, visited, hover */

.link-cf:focus {
    outline:none;
    color:yellow
}

.link-cf:active {
    background-color: black ;
}

/* #aueblogo {
    color:violet;
} not to be used, use class */

.border-green-1 {
    border:1px solid green
}

.border-green-2 {
    border:2px solid green
}

.text-blue {
    color:blue;
}