/* <style>
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');
</style> */
/* Either import from google-fonts to CSS file or copy link to html file */

.roboto-100 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100; 
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.roboto-300 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300; 
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.social {
    color: blue;
    font-size: 2rem;
}

.social > .fa-facebook {
    color: red;
}